body {
    background-color: #FFFBF0;
    font-family: 'Roboto', sans-serif;
}
header nav{
    background-color: #FFFBF0;
}
nav img {
    width: 400px;
}
nav a {
    font-size: 20px;
}

/* hero section */
.hero {
    background-color: #FFFBF0;
}
.hero span {
    color: #FABE4C;
}
.hero a {
    background: linear-gradient( #A4BC46, #85A019);
}
.hero a,
.hero p {
    font-family: 'Bebas Neue', cursive;
}
.hero a i{
    padding-right: 10px;
}


/* women jacket */

.women-jacket,
.man-jacket,
.about {
    background-color: #f6f5f5;
}
.women-jacket .box,
.man-jacket .box {
    width: 30%;
    border: none;
}
.women-jacket img {
    background: #E5E5E5;
}
.women-jacket a,
.man-jacket a,
.button {
    background: linear-gradient( #A4BC46, #85A019);
}
.women-jacket h2,
.man-jacket h2 {
    color: #FABE4C;
}
.women-content {
    margin: 0 auto;
}

/* man jacket */
.man-jacket img {
    background: #E5E5E5;
    padding: 50px;
}

/* about */


/* contact us */

#contact-us .form-heading {
    color:#A4BC46;
}

#footers {
    background: linear-gradient( #A4BC46, #85A019);
}




/* MEDIA QUERY */
@media (max-width:992px) {
    .hero .hero-content {
        padding: 20px 10px;
    }
}
@media (max-width:992px) {
    .women-jacket .box .footer a,
    .man-jacket .box .footer a{
        font-size: 10px;
    }
    .women-jacket .box .footer h2,
    .man-jacket .box .footer h2 {
        font-size: 20px;
        padding-right: 8px;
    }
}
@media (max-width:780px) {
    .women-jacket .footer,
    .man-jacket .footer {
        display: block!important;
    }
}
@media (max-width:512px) {
    .women-jacket .box,
    .man-jacket .box {
        width: 90%;
        margin-top: 20px;
    }
    .women-jacket .footer,
    .man-jacket .footer {
        display: flex!important;
    }
    .about > .h {
        flex-direction: column-reverse !important;
    }
    .about .boxes {
        text-align: center;
        padding: 0px 30px;
        margin-right: 20px;
    }
}